{% extends 'base.html' %}
{% block title %} Data List{% endblock %}
{% block content %}
    <table>
    <thead>
      <tr>
          <td>تاریخ</td>
          <td>ساعت</td>
          <td>دما</td>
          <td>رطوبت</td>
      </tr>
    </thead>
    <tbody>
        {% for x in item %}
      <tr>
          <td>{{ x.Datefild}}</td>
          <td>{{ x.timefild}}</td>
          <td>{{ x.temperature }}</td>
          <td>{{ x.humidity }}</td>
      </tr>
        {% endfor %}
    </tbody>
    </table>
{% endblock %}